body {
    font-family: Arial;
    margin: 0;
}
h1 {
    color: #61c250;
}
.headerBanner {
    background-color: #333;
    width: 100%;
    padding: 20px 0px 20px 40px;
}
p {
    font-size: 24px;
}
.paragraphBanner {
    background-color: #ccc;
    width: 100%;
    padding: 20px 0px 20px 40px;
}
.content {
    margin: 20px 0px 20px 40px;
    font-size: 20px;
}
a {
    color: #61c250;
    text-decoration: none;
}
img {
    width: 300px;
}
.decorated {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}